<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 
 
 <!-- Adding servlet mapping here. we have index.html an action="add" when user enter the values and hit submit.
 	  Tomcat server will look for the /add servlet mapping in web.xml and send the request to servlet-class
 	  which will be processed by "AddServlet" and send back an response to the user. -->
 
<servlet>
	<servlet-name>addMapping</servlet-name>
	<servlet-class>com.learning.AddServlet</servlet-class>
</servlet>
	
<servlet-mapping>
	<servlet-name>addMapping</servlet-name>
	<url-pattern>/add</url-pattern>
</servlet-mapping>
</web-app>